/* DynamicBuild */
.js-container--main{
  padding-bottom: 2em;

}

.js-card-box{
  float:left;
  display:inline-block;
  width:calc(100% / 3);
  margin:1em 0;
}

@media (max-width:900px){
  .js-card-box{
    width:100%;
  }
}
