@media (max-width:800px) {
    .wide-scr-only {
        display: none;
    }
}

.jump-eyecatch {
    text-align: center;
    overflow-x: hidden;
}

.tag_description{
    display:none;
    font-size:0.1em;
    letter-spacing:-0.05em;
}

.font_size_24{
    font-size:24pt;
}
