#main_player_container{
    background: url("../../img/ytrpt/water-815271_1920.jpg");
}

#main_video_player{
    opacity:0.5;
}

.main_video_controller{
    text-align:center;
}

.video_container {
    width: 36vw;
    height: 36vw;
    margin: 0 auto 0 auto;
}

.video_player {
    width: 100%;
    height: 100%;
}

.play_list_container {
    margin-top: 5vw;
    padding: 1vw;
}

.play_list_mov {
    width: 10vw;
    height: 10vw;
    display: inline-block;
    -webkit-transition: border-radius 0.5s ease;
    -moz-transition: border-radius 0.5s ease;
    -o-transition: border-radius 0.5s ease;
    transition: border-radius 0.5s ease;
    border:0.1vw solid black;
}

    .play_list_mov:hover {
        border-radius:50%;
    }

    .play_list_mov img {
        width: 100%;
        height: 100%;
        border:0.1vw solid black;
    }
